{{yield}}

{{#if loadingComponent}}
  <p>Loading data...</p>
{{else}}
  <p class="load-data">{{componentData.first-name}} {{componentData.last-name}}</p>
{{/if}}

<button {{action "onClickButton"}} class="bar-button">Click me!</button>

{{#if showButtonToggle}}
  <p class="text-data">{{buttonData.first-name}} {{buttonData.last-name}}</p>
  <p class="toggle-text-contents">Button was pressed</p>
{{/if}}